body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.home .banner {
  background-image: url('./assets/images/coffee_mugs.jpg');
}
.bakery .banner {
  background-image: url('./assets/images/bread_display_at_the_saint_dominics_fair_2.jpg');
}
.suppliers .banner {
  background-image: url('./assets/images/grocery_store_3-1000x667.jpg');
}

.description p {
  color: grey;
  font-size: 24px;
}

